@media only screen and (max-width: 450px){
    body{
        background: var(--orange);
        background-image: url(../images/etoilesFondOrange.png);
    }
    img{
        width: 83.739px;
        height: 80.39px;
        flex-shrink: 0;
    }
    .baseLine{
        color: #FCFCFC;
        font-size: 1.2rem;
        text-align: center;
        width: 277px;
        /* font-weight: 600; */
    }
    .failDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 95vh;
        width: 100vw;
    }
    .failReponse{
        text-align: center;
        width: 130%;
    }
    .reponseFailDiv{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-items: center;
    }
    .divBouton{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3vw;
    }
    .btnSuivant{
        font-size: 1.2rem;
        font-weight: 600;
        color: #FCFCFC;
        text-decoration-line: underline;
    }
}
