
@media screen and (min-width: 450px) {

    .titre{
        display: none;
    }

    #btnDemarrer{
        display: none;
    }

    #decorationFond{
        display: none;
    }

    #decorationFondPetit{
        display: none;
    }

    body{
        display: flex;
        justify-content: center;
    }

    .desktop-only-message{
        margin-top: 15vh;
        display: flex;
        width: 25vw;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

    .desktop-only-message h1{
        color: #494748;
        font-family: "Open Sauce Sans";
        font-size: 6rem;
        font-weight: 900;
    }

    .desktop-only-message p{
        color: #494748;
        text-align: center;
        font-family: "Open Sauce Sans";
        font-size: 1.5rem;
        font-weight: 600;
    }

    .orange{
        color: var(--orange);
    }

    .decoFond{
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 450px){
    .desktop-only-message {
        display: none;
    }

    body {
        background-image:url(../images/fond_page_accueil.png);
        z-index: -1;
        height:92vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 0;
    }

    #decorationFond{
        position: absolute;
        z-index: -99;
        top: 35%;
        width: 100vw;
        transition: transform 1s ease-out;
    }
    #decorationFondPetit{
        display: none;
    }
    
    #decorationFond.moveAnimation {
        z-index: 99;
        transform: translate(0, -50%);
    }

    .titre{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
    }

    .titre p{
        color: var(--gris);
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
    }

    .titre h1{
        color: var(--gris);
        font-size: clamp(56px, 24vw, 92px);
        font-style: normal;
        font-weight: 900;
    }

    .titreOrange{
        color: var(--orange);
    }

    .sticker{
        position: absolute;
        left: -10%;
        bottom: -32%;
    }

}

@media only screen and (max-width: 350px){
    .titre{
        margin-top: 2vh;
    }
    .sticker{
        width: 55px;
        left: -9%;
        bottom: -20%;
    }
    #decorationFond{
        display: none;
    }
    #decorationFondPetit{
        display: block;
        width: 100vw;
    }
    #decorationFondPetit{
        position: absolute;
        z-index: -99;
        top: 40%;
        transition: transform 1s ease-out;
    }
    #decorationFondPetit.moveAnimation {
        z-index: 99;
        transform: translate(0, -50%);
    }
}
