@media only screen and (max-width: 450px){
    body {
        background-image:url(../images/fond_page_accueil.png);
        z-index: -1;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 0;
    }

    #decorationFond{
        position: absolute;
        z-index: -99;
        top: 35%;
        transition: transform 1s ease-out;
    }
    
    #decorationFond.moveAnimation {
        z-index: 99;
        transform: translate(0, -50%);
    }

    .titre{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
    }

    .titre p{
        color: var(--gris);
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
    }

    .titre h1{
        color: var(--gris);
        font-size: clamp(56px, 24vw, 92px);
        font-style: normal;
        font-weight: 900;
    }

    .titreOrange{
        color: var(--orange);
    }

    .sticker{
        position: absolute;
        left: -10%;
        bottom: -32%;
    }




/*     
    .titre{
        color: var(--gris);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
    }
    .bienvenue{
        font-size: 1.563rem;
        font-weight: 600;
    }
    .logoPartie2{
        color : var(--orange);
    }
    .sticker{
        position: absolute;
        left: 2%;
        top: 5.5%;
        z-index: 1;
        transform: translateX(-10px);
    }
    .decorationFond{
        margin-top: 15%;
        width: 100%;
        max-width: none;
        z-index: -1;
    }
    .demarrer{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 660%);
        z-index: 1;
    } */
}
