@media only screen and (max-width: 450px){
    body{
        height: 100vh;
        padding: 20px 0px;
        background: var(--orange);
        background-image: url(../images/etoilesFondOrange.png);
    }
    span{
        font-weight: 900;
        color: #FEDF41;
    }
    img{
        width: 83.739px;
        height: 80.39px;
        flex-shrink: 0;
    }
    
    .presentationDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 84vh;
    }
    .presentation1Texte{
        width: 97%;
    }

    .niveauDiv{
        width: 254px;
        height: 43px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
    }
    .niveau3{
        background: #FFE872;
    }
    .niveau2{
        background: #FEEB8D;
    }
    .niveau1{
        background: #FFF4B9;
    }
    .texteNiveau{
        font-weight: 700;
    }
    .divNiveau{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 23vh;
    }
    .grosseDivNiveau{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-evenly; */
        gap: 3vh;
        height: 60vh;
        /* background-color: #FEDF41; */
    }

    .boutonPlus{
        height: 7vh;
        width: 7vh;
        /* margin: 0px 5px; */
    }
    .presentation3Texte{
        width: 97%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0px 7px;
    }

    .btnZoom{
        display: inline-flex;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: 1px solid var(--blanc);
        color: var(--blanc);
        font-size: 18px;
    }

    .divAttention{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    .attention{
        color: #FCFCFC;
        text-align: center;
        font-size: 1.1rem;
        width: 95vw;
    }
    
}

@media only screen and (max-width: 350px){
    .divNiveau{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 32vh;
    }
}