
@media only screen and (max-width: 450px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4rem;
    }
    
    .contenuQuiz{
        display: flex;
        width: 85vw;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .enTeteQuiz{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        align-self: stretch;
    }

    .zoneCode{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6vh;
        align-self: stretch;
    }

    .inputCode{
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

    #codeInput{
        display: flex;
        height: 45px;
        padding: 10px;
        align-items: center;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid #D6D6D6;
    }

    .stickersInput{
        width: 110px;
        height: 78px;
        position: absolute;
        left: 70vw;
        top: 15vh;
    }

    .btnValider{
        display: inline-flex;
        padding: 1rem 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        background: #FF6F3C;
        color: var(--blanc);
    }
}