
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

button, input, textarea {
    border: none;
    background: none;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none; 
    color: inherit; 
    font-size: inherit;
}