@media only screen and (max-width: 450px){
    body{
        height: 100vh;
        padding: 20px 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: var(--orange);
        background-image: url(../images/etoilesFondOrange.png);
    }
    .etoile{
        position: relative;
        width: 100.9px;
        height: 88.288px;
        margin-top: 10vh;
    }
    .scoreAnimal{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .etoileScore{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .etoileScore p{
        position: absolute;
        right: 28.949px;
        bottom: 29.325px;
        color: var(--blanc);
        text-align: center;
        -webkit-text-stroke: 0.8px var(--noir);
        font-size: 23.229px;
        font-weight: 900;
        z-index: 9;
    }

    .scorePartieBouton p{
        font-size: 1.2rem;
        color: #FFF;
        text-align: center;
    }
    .scorePartieBouton{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    .scorePartieBouton img{
        position: absolute;
        width: 66px;
        height: 46.795px;
        top: 6vh;
        left: 60vw;
    }
}

@media only screen and (max-width: 450px){
    .imgAnimal{
        width: 80px;
    }
    #phraseClash{
        font-size: 1rem;
    }
    .etoile{
        margin-top: 2vh;
    }
}