:root {
    --orange: #EE5E37;
    --gris: #494748;
    --blanc: #FCFCFC;
}



@media only screen and (max-width: 450px) {

    body {
        background-color: #FCFCFC;
        font-family: 'Open Sauce Sans', sans-serif;

    }
    .logoPartie2{
        color : #EE5E37;
    }
    
}