:root {
    --orange: #EE5E37;
    --gris: #494748;
    --blanc: #FCFCFC;
    --jaune: #FEDF41;
    --noir: #030303;
}
@import  url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');




@media only screen and (max-width: 450px) {

    body {
        width: 100vw;
        font-family: 'Open Sauce Sans', sans-serif;
    }

    h1{
        font-size: 5.75rem;
        font-weight: 900;
        position: relative;
    }
    
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        color: var(--blanc);
    }

    h3{
        text-align: center;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        color: var(--noir);
    }
    
    .btn{
        font-size: 1.375rem;
        display: flex;
        width: 194px;
        height: 55px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 31px;
    }

    .jaune{
        color: var(--gris);
        background-color: var(--jaune);
        font-weight: 800;
    }

    .orange{
        color: var(--blanc);
        background-color: var(--orange);
    }

}