:root {
    --orange: #EE5E37;
    --gris: #494748;
    --blanc: #FCFCFC;
    --jaune: #FEDF41;
    --noir: #030303;
}
@import  url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    overflow-y: hidden;
}



@media only screen and (max-width: 450px) {

    body {
        background-image:url(../images/fond_page_accueil.png);
        z-index: -1;
        font-family: 'Open Sauce Sans', sans-serif;
    }

    h1{
        font-size: 5.75rem;
        font-weight: 900;
        position: relative;
    }
    
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        color: var(--blanc);
    }

    h3{
        text-align: center;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        color: var(--noir);
    }
    
    .btn{
        font-size: 1.375rem;
        padding: 16px 46px;
        border-radius: 31px;
    }

    .jaune{
        color: var(--gris);
        background-color: var(--jaune);
    }

    .orange{
        color: var(--blanc);
        background-color: var(--orange);
    }

    
    /*---- Page accueil ----*/

    .titre{
        color: var(--gris);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
    }
    .bienvenue{
        font-size: 1.563rem;
        font-weight: 600;
    }
    .logoPartie2{
        color : var(--orange);
    }
    .sticker{
        position: absolute;
        bottom: 553px;
        left: 42px;
        z-index: 1;
        transform: translateX(-10px);
    }
    .decorationFond{
        position: absolute;
        top: 500px;
        transform: scale(1.35);
        z-index: -1;
    }
    .demarrer{
        display: flex;
        justify-content: center;
        margin-top: 31rem;
    }

    /*---- Page quiz ----*/

    .contenuQuiz{
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .enTeteQuiz{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
    }

    .zoneCode{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        align-self: stretch;
    }

    #codeInput{
        display: flex;
        padding: 0.625rem;
        align-items: center;
        align-self: stretch;
        border-radius: 0.625rem;
        border: 1px solid #D6D6D6;
    }

    .btnValider{
        display: inline-flex;
        padding: 1rem 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        background: #FF6F3C;
        color: var(--blanc);
    }

    /*---- Page Sucess ----*/

    .contenuSucess{
        display: flex;
        width: 17.5rem;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
    }
    
    .zoneContinuer{
        display: flex;
        width: 15.9375rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .btnContinue{
        display: flex;
        height: 2.75rem;
        padding: 0 2.875rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        background: #FEDF41;
        color: var(--noir);
        font-weight: 800;
    }
}