@media only screen and (max-width: 450px)  {
    body{
        height: 84vh;
        padding: 20px 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: var(--orange);
        background-image: url(../images/etoilesFondOrange.png);
    }

    p{
        text-align: center;
        color: var(--blanc);
    }
    .comptePoints{
        font-weight: 800;
        font-size: 1.3rem;
    }

    .contenuSucess{
        display: flex;
        width: 17.5rem;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
    }

    .zoneContinuer{
        display: flex;
        width: 15.9375rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .btnContinue{
        display: flex;
        height: 2.75rem;
        padding: 0 2.875rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        background: #FEDF41;
        color: var(--noir);
        font-weight: 800;
    }
}

@media only screen and (max-width: 350px){
    body{
        height: 95vh;
    }
    .zoneContinuer p{
        width: 90vw;
    }
    .contenuSucess p{
        width: 90vw;
    }
    .comptePoints{
        width: 90vw;
    }
}
