
@media only screen and (max-width: 450px){

    .imageIndice{
        background: url(../images/visageHomme.jpg) lightgray 50% / 900% no-repeat;
        background-position: 42% 32%;
        transition: background-size 1s ease, background-position 1s ease;
    }
    
}