
@media only screen and (max-width: 450px){

    .imageIndice{
        background: url(../images/bague.jpeg) lightgray 50% / 500% no-repeat;
        background-position: 42% 60%;
        transition: background-size 1s ease, background-position 1s ease;
    }
    
}