
@media only screen and (max-width: 450px){

    .imageIndice{
        background: url(../images/detailsSang.jpg) lightgray 50% / 300% no-repeat;
        background-position: 40% 50%;
        transition: background-size 1s ease, background-position 1s ease;
    }
    
}